.product-card:has(.variants-select:open) {
  opacity: 0.5;
}
.variant-value {
  color: var(--blue-c-100);
  display: inline-block;
  margin-inline-start: 5px;
}
.variants-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  outline: 1px solid var(--primary-c);
  border-radius: 2px;
  padding-inline: 0.2rem;
  max-width: fit-content;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
}
.variants-title {
  text-box-trim: trim-both;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-medium);
}
/* dropdown menu styles */
.variants-select {
  color: var(--blue-c-100);
  padding: 5px;
  border: none;
  border-radius: 0;
  border-inline-start: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  min-width: 48px;
  min-height: 42px;
  font-family: inherit;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
  /* enable custom select styles */
  &,
  &::picker(select) {
    appearance: base-select;
  }
  &::picker(select) {
    border: none;
    max-height: 175px;
    overflow-y: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  /* animate icon color on open */
  &::picker-icon {
    color: var(--primary-c);
    transition: 0.5s;
  }
  &:open {
    &::picker-icon {
      color: var(--blue-c-100);
    }
  }
  option {
    border: 1px solid var(--primary-c);
    min-width: 52px;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-medium);
    /* make first and last option rounded */
    &:first-of-type {
      border-radius: 2px 2px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 2px 2px;
    }
    &:nth-of-type(odd) {
      background: var(--background-medium-c);
    }
    /* apply custom option styles */
    padding: 10px;
    &::checkmark {
      display: none;
    }
    &:hover,
    &:focus {
      background: rgb(255, 221, 157);
    }
    &:checked {
      font-weight: var(--font-weight-bold);
    }
  }
}
