.variant-value {
  color: var(--blue-c-100);
  display: inline-block;
  margin-inline-start: 5px;
}
.variants-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border: 2px solid var(--primary-c);
  border-radius: 2px;
  padding-inline: 0.25rem;
  max-width: fit-content;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
}
.variants-title {
  text-box-trim: trim-both;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-medium);
}
/* dropdown menu styles */
.variants-select {
  color: var(--blue-c-100);
  padding: 5px;
  border: none;
  border-radius: 0;
  border-inline-start: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  min-width: 48px;
  min-height: 42px;
  font-family: inherit;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
  /* apply custom select styles */
  &,
  &::picker(select) {
    appearance: base-select;
    max-height: 175px;
    overflow-y: auto;
  }
  /* animate icon color on open */
  &::picker-icon {
    color: var(--primary-c);
    transition: 0.5s;
  }
  &:open::picker-icon {
    color: var(--blue-c-100);
  }
  option {
    min-width: 52px;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-medium);

    &:nth-of-type(odd) {
      background: var(--background-medium-c);
    }
    /* apply custom option styles */
    padding: 10px;
    &::checkmark {
      display: none;
    }
    &:hover,
    &:focus {
      background: rgb(255, 221, 157);
    }
    &:checked {
      font-weight: var(--font-weight-bold);
    }
  }
}
