.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  border-radius: 2px;
  outline: 1px solid var(--primary-c);
  transition: all 500ms linear;
  & h2 {
    font-size: var(--font-size-200);
    margin-block-start: 0.5rem;
    margin-block-end: 0.6rem;
  }
  & img {
    border: 1px solid var(--primary-c);
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    background-color: var(--secondary-c);
  }
  .price {
    margin-block-start: auto;
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
    width: fit-content;
    border: 1px solid var(--primary-c);
    border-radius: 2px;
    padding: 3px;
  }
  &:hover {
    box-shadow: 10px 5px 5px #e9e5dd;
    outline: 1px solid var(--primary-c);
  }
}