.variants-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
}
.variants-title {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-medium);
}
.variants-select {
  padding: 5px;
  background-color: transparent;
  border: 2px solid var(--primary-c);
  min-width: 48px;
  min-height: 44px;
  font-family: inherit;
  font-size: var(--font-size-300);
  font-weight: var(--font-size-600);
  option {
    &:nth-of-type(odd) {
      background: var(--background-medium-c);
    }
  }
}
