:root {
  /*color*/
  --primary-c: #000;
  --background-c: #efece7;
  --background-dark-c: #e2ddd3;

/* Form input colors */
  --input-invalid: #CE2929;

 /* Font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

/* Font sizes */
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.3rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2rem;
  
}
