:root {
  /*color*/
  --primary-c: #000;
  --secondary-c: #ffffff;
  --background-c: #efece7;
  --background-medium-c: #f0ece5;
  --background-dark-c: #e2ddd3;

  /* Form input colors */
  --input-invalid: #ce2929;

  /* Font weights */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font sizes */
  --font-size-xxs: 1.1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.3rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2rem;
}
