.intro {
  max-width: 750px;
  text-align: center;
  padding-block: 3rem;
  padding-inline: min(4vw, 2rem);
  margin-inline: auto;
  margin-block-start: 2rem;
  & h1 {
    margin-block-end: 1rem;
    font-size: var(--font-size-600);
  }
  @media screen and (min-width: 56rem) {
    padding: 3rem;
  }
}
