.navbar {
  margin-inline: auto;
  border-bottom: 1px solid var(--primary-c);
  padding-block: 1.5rem;
  padding-inline: 0.5rem;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  .menu-toggle-button {
    display: none;
  }
  & ul {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }
  .account-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .search-form {
    display: flex;
    gap: 0.2rem;
    .search-input {
      width: clamp(7rem, 20vw, 26rem);
      height: 2.5rem;
      padding: 0.5rem;
      font-size: var(--font-size-200);
      border: 2px solid var(--primary-c);
      border-radius: 0.2rem;
    }
    .search-button {
      height: 2.5rem;
      background-color: var(--primary-c);
      border: none;
      border-radius: 0.2rem;
      padding: 0.2rem;
    }
  }
}

/*small screens*/
@media screen and (max-width: 56.25rem) {
  .navbar {
    gap: 0.7rem;
    .logo-text {
      display: none;
    }
    .account-icon-text {
      display: none;
    }
    .menu-toggle-button {
      display: block;
      background-color: transparent;
      border: none;
    }
    .hide-list {
      display: none;
    }
    .show-list {
      display: flex;
      opacity: 1;
      font-size: var(--font-size-700);
      flex-direction: column;
      position: absolute;
      top: 5.5rem;
      background-color: var(--background-dark-c);
      border-block-start: 2px solid black;
      padding: 2rem;
      gap: 3rem;
      width: 100vw;
      height: 100vh;
      transition: all 200ms ease;
      @starting-style {
        opacity: 0;
        height: 0;
      }
    }
  }
}

@media screen and (min-width: 25rem) {
  .navbar {
    gap: min(2rem, 4.5vw);
  }
}
