.navbar {
  border-bottom: 1px solid var(--primary-c);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  .toggle-icon {
    display: none;
    transform: rotate(90deg);
  }
  .checkbox {
    display: none;
  }
  & ul {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }
  .search-form {
    display: flex;
    gap: 0.2rem;
    .search_input {
      width: clamp(14rem, 20vw, 26rem);
      height: 2.5rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      border: 2px solid var(--primary-c);
      border-radius: 0.2rem;
    }
    .search-button {
      height: 2.5rem;
      background-color: var(--primary-c);
      border: none;
      border-radius: 0.2rem;
      padding: 0.2rem;
    }
  }
}
/*small screens*/
@media screen and (max-width: 60rem) {
  .navbar {
    gap: 0.3rem;
    .toggle-icon {
      display: inline;
      transform: rotate(90deg);
      margin-inline-end: 10px;
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
    .checkbox {
      &:checked ~ ul {
        display: flex;
        opacity: 1;
        font-size: 2rem;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        background-color: var(--background-dark-c);
        border-block-start: 2px solid black;
        padding: 2rem;
        gap: 3rem;
        width: 100vw;
        height: 100vh;
        transition: all 200ms ease;
        @starting-style {
          opacity: 0;
          height: 0;
        }
      }
    }
    .navbar-logo {
      order: 1;
    }
    & search {
      order: 3;
    }
    & ul {
      display: none;
    }
    .cart {
      order: 2;
    }
  }
}
